body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 32px;
    margin-top: 50px;
  }
  
  form {
    margin-top: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-size: 24px;
  }
  
  input[type="password"] {
    font-size: 24px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  